  body {
    font-family: "Roboto", sans-serif;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
  }
  
  header {
    background: lightgreen;
    padding: 2rem;
    grid-column: 1 / 3;
  }
  .header img {
    float: left;
    width: 200px;
    height: 200px;
    background: #555;
    text-align: center;
  }
  .header h1 {
    position: relative;
    top: 100px;
    left: 10px;
    text-align: center;
  }
  nav {
    grid-column: 1 / 3;
    background-color: #99f0ed;
    padding: 1rem;
    font-size: 20px;  
  }
  nav a{
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  nav ul {
    list-style-type: none;
  }
  
  main {
    background: white;
    height: 100%;
    padding: 1rem;
  }
  
  aside {
    background: yellow;
    grid-column: 2 / 3;
    padding: 1rem;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
  }
  nav {
    text-align: center;
  }
  h1{
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  
  footer {
    background-color: lightgreen;
  }
  section {
    display: grid;
  }
ul{
    list-style-type: none;
    font-size: 25px;
}