@media screen and (min-width: 800px) {
    nav ul {
        display: flex;
        text-align: center;
    }

    nav ul li {
        text-align: justify;
        flex: 1 1 100%;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        display: block;
    }



}